@model project.Models.Category
@{
    ViewBag.Title = "Collection";
}

<h2>Collection</h2>

   <!-- store products -->
<div class="container">
    <div class="row">

        @foreach (var product in Model.Products)
        {

                    <!-- product -->
            <div class="col-md-3 col-xs-6 ">
                <div class="product">
                    <div class="product-img">
                        <img src="~/Content/img/@product.Picture" alt="">
                        <div class="product-label">
                            <span class="sale">-@product.Discount %</span>
                            <span class="new">NEW</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">@Model.CategoryName</p>
                        <h3 class="product-name"><a href="/Products/displayProduct/@product.ID">@product.ProductName</a></h3>
                        <h4 class="product-price">$@product.PriceAfterDiscount <del class="product-old-price">$@product.PriceBeforeDiscount</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">

                        <a class="add-to-cart-btn btn " href="/Products/AddToCart/@product.ID?Qunatity=1"><i class="fa fa-shopping-cart"></i> add to cart</a>
                    </div>
                </div>
            </div>
                    <!-- /product -->
        }

    </div>
</div>
<!-- /store products -->
